# Dependencies
node_modules/
**/node_modules/
frontend/node_modules/

# Build outputs
/dist

# Database
/backend/wallet.db

# Python
/.venv
__pycache__/
*.pyc

# Environment variables
.env
